<h1>Stadium#players</h1>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body">Don Mattingly</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">My favorite player <br> <script type="text/javascript" src="//widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fm%2Fmattido01.shtml&div=div_batting_standard"></script></div>
  </div>
</div>
