// Place all the styles related to the Stadium controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#map-canvas {
  width: 500px;
  height: 500px;
}

#panel-body-1 {
	text-align: center;
}

.h1 {
	text-align: center;
}